@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

/* top styles start here */
.top{
    width: 1400px;
    height: 677px;
    background-color: #2D25A0;
    display: flex;
    
}

.head-title{
    width: 487px;
    height: 320px;
    padding-top: 150px;
    padding-left: 50px;
    padding-bottom: 150px;
    
    
}
.big-writing{
    font-size: 60px;
    color: #FFFFFF;
    margin-bottom: 30px;
    line-height: 70px;
   
   

}
/* for hovoring */
.top:hover .big-writing{
    transform: rotate(360deg);
    transition: transform 1s ease-in;
}
.top:hover .player-image img{
    transform: rotate(360deg);
    transition: transform 1s ease-in;
}
.top:hover{
    background-color: darkgoldenrod;
}

    

.live-button{
    text-decoration: none;
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 24px;
   
    
}
/* .showing-live{
    margin-top: 27px;
    margin-bottom: 140px; */

.live-button:hover{
    border: 3px solid cyan;
}
.player-image img{
    width: 556.01px;
    height: 438px;
   padding-top: 153px;
    
    padding-bottom: 86px;
    padding-left: 102px;
    

}
/* introducing-players */
.container{
    margin-top: 70px;
    margin-left: 50px;
   
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 340px);
    justify-content: center;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin: auto;
    

}
.main-player-info{
    width: 330px;
    height: 474px;
    box-shadow: 05px 6px 20px gray;
    background-color:  #FFFFFF;
}
.player{
    padding: 15px;
}
.player-pic img{
    width: 300px;
    height: 256px;
    
}
.player-name{
    font-size: 28px;
    margin-top: 16;
}
.about-player{
    font-size: 16px;
    margin-top: 10px;
}
.player-detail{
    width: 300px;
    height: 144px;
    
}
/* for gallary */
.photo img{
   width: 400px;
   height: 300px;
   border-radius: 15px;
   margin: auto;
  
}
.gallary-photos{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: center;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-right: 30px;
}
/* footer starts here */
footer{
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    align-items: center;
    margin-top: 158px;
    margin-bottom: 63px;
   
}
.logo img{
    width: 483.87px;
    height: 110px;
    
}
.one-icon{
    padding: 0 14px;
}
.copy{
    font-size: 18px;
}
/* for responsive, here is query */
@media only screen and (max-width: 695px) {
     
   .top-space{
       width: 100%;
   }
    
    /* for hovoring */
.top:hover .big-writing{
    transform: rotate(360deg);
    transition: transform 1s ease-in;
}
.top:hover .player-image img{
    transform: rotate(360deg);
    transition: transform 1s ease-in;
}
.top:hover{
    background-color: darkgoldenrod;
}

    .top{
        width: 360px;
        height: 695px;
        display: flex;
        flex-direction: column;
    }
    .head-title{
        padding-left: 50px;
        padding-top: 112px;
        padding-right: 66px;
    }
    .big-writing{
        font-size: 36px;
        color: #FFFFFF;
        width: 278px;
        height: 138px;
        line-height: 50px;
            
    }
    .live-button{
        text-decoration: none;
        width: 168px;
        height: 44px;
        background-color: #E02C6D;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 500;
        padding: 10px 24px;
    }
   
    .player-image img{
        width: 329px;
        height: 259.17px;
       padding-top: 50px;
        padding-right: 16px;
        padding-bottom: 60px;
        padding-left: 16px;
        position: relative;
        top: -160px;
    }
    .container{
        width: 100%;
    }
    .container{
        margin-top: 47px;
        margin-left: 15px;
        margin-right: 15px;
       
    }
    .players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
        grid-row-gap: 25px;
    }
    /* for photo gallary */
    .photo img{
        width: 400px;
        height: 300px;
        border-radius: 15px;
       
     }
     .gallary-photos{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        justify-content: center;
    }
    
    .finish{
        width: 100%;
    }    
    footer{
        display: flex;
        flex-direction: column;
       
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 320px;
    } 
    .logo img{
        width: 200px;
        height: 50px;
    }
    
    .icon{
        width: 170px;
        height: 32px;
        margin-top: 30px;
        
    }
    .one-icon{
        padding: 0 10px;
    }
    .copy{
        margin-top: 20px;
        font-size: 18px;
    }
    

}